/* generic styles */
* {
	text-align: center;
	font-family: 'Teko', sans-serif;
}
body, html {
	background-color: hsl(20, 75%, 30%) !important;
	overflow-x: hidden; /*remove scrollbar for x-axis*/
}
body, html, button:not(.close) {
	/* https://leaverou.github.io/css3patterns/#argyle */
	background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
}
br, .cardHandDiv, button, .chip, .small-chip {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: hsl(0, 0%, 20%) !important;
}
::selection {
	background: hsl(0, 0%, 20%) !important;
}
.modal-content *::-moz-selection {
	background: hsl(0, 0%, 80%) !important;
}
.modal-content *::selection {
	background: hsl(0, 0%, 80%) !important;
}
body, html, button, .alert, #noHistory {
	color: hsl(0, 0%, 10%);
}
.redcard {
	color: hsl(0, 75%, 30%);
}
hr {
	border: 1px solid hsl(0, 0%, 10%);
}

/* text */
p, h2, h3, #history, #oddsInfo, .card-label {
	color: #fff;
}
p, .alert {
	/*font-size: 120%;*/
	font-size: 110%;
}
h2 {
	/*font-size: 160%;*/
	font-size: 190%;
	font-weight: bold;
	display: inline;
	letter-spacing: 2px;
	margin-left: 20px;

/*	background-color: hsl(0, 0%, 20%);
	padding: 2px;
	border-radius: 4px;*/
}
h3 {
	font-size: 160% !important;
	/*font-size: 190% !important;*/
	padding: 24px;
	display: inline;
}
a {
	color: hsl(240, 75%, 30%);
}
a:hover {
	color: hsl(240, 75%, 50%);
}
.card-label, .modal-body h3 {
	/*font-size: 120%;*/
	font-size: 150%;
}

/* header */
.chip {
	width: 64px;
	box-shadow: 5px 5px 0px hsl(0, 0%, 20%);
	border-radius: 100%;
	transition: 0.2s ease-in-out;
	background-color: hsl(160, 75%, 30%);
}
.chip:hover {
	transform: scale(1.2);
}
#headerDiv {
	padding: 20px;
}

/* chips display */
.small-chip {
	width: 32px;
	margin-right: -28px;
	box-shadow: 2px 2px 0px hsl(0, 0%, 20%);
	border-radius: 100%;
	transform: scale(0);
	transition: all 0.3s ease-in-out;
}
.small-chip.animate {
	transform: scale(1);
}
.small-chip.red {
	background-color: hsl(0, 75%, 30%);
}
.small-chip.green {
	background-color: hsl(160, 75%, 30%);
}
.small-chip.blue {
	background-color: hsl(240, 75%, 30%);
}
#chipsDiv {
	display: inline;
}

/* table */
#tableDiv, #headerDiv {
	background-color: hsl(160, 75%, 30%);

	/* https://leaverou.github.io/css3patterns/#cross-dots */
	background:
	radial-gradient(hsl(0, 0%, 20%) 3px, transparent 4px),
	radial-gradient(hsl(0, 0%, 20%) 3px, transparent 4px),
	linear-gradient(hsl(160, 75%, 30%) 4px, transparent 0),
	linear-gradient(45deg, transparent 74px, transparent 75px, hsl(160, 50%, 90%) 75px, hsl(160, 50%, 90%) 76px, transparent 77px, transparent 109px),
	linear-gradient(-45deg, transparent 75px, transparent 76px, hsl(160, 50%, 90%) 76px, hsl(160, 50%, 90%) 77px, transparent 78px, transparent 109px),
	hsl(160, 75%, 30%);
	background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
	background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;



	/* https://leaverou.github.io/css3patterns/#polka-dot */

/*	background-image: radial-gradient(hsl(0, 0%, 20%) 7.5%, transparent 7.5%),
	radial-gradient(hsl(0, 0%, 20%) 7.5%, transparent 7.5%);*/

/*	background-image: radial-gradient(hsl(160, 50%, 90%) 7.5%, transparent 7.5%),
	radial-gradient(hsl(160, 50%, 90%) 7.5%, transparent 7.5%);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;*/
}
.cardHandDiv {
	font-size: 800%; /*larger card unicode*/
	letter-spacing: -2px;
	margin-top: -30px;
	transition: all 0.4s ease-in-out;
	margin-bottom: 20px;
}
.pokercard {
	font-family: Arial !important; /* the only freaking fix for the stupid padding... */
	/* seriously... margin and padding, height and line-height, nothing works on .pokercard
	or .cardHandDiv..., with !important and everything, every combination */

	/*padding-bottom: -20px !important;*/

	margin: -20px;
	/*padding-bottom: -50px !important;*/

	/*border-radius: 20px;*/
	border-radius: 10px;
	background-color: hsl(160, 50%, 90%);

	box-shadow: 4px 0px 0px hsl(0, 0%, 20%);

	/*border-top: 4px solid hsl(20, 75%, 30%);*/
	/*border-bottom: 4px solid hsl(20, 75%, 30%);*/
}
.pokercard:first-child {
	padding-left: 10px;
	/*border-left: 4px solid hsl(20, 75%, 30%);*/
}
.pokercard:last-child {
	padding-right: 10px;
	/*border-right: 4px solid hsl(20, 75%, 30%);*/
}
.pokercard.splitcard {
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
}
.splitcard:first-child + .pokercard {
	padding-right: 60px;
}

/* table decorations */
#tableDiv {
	/* red stripe */
	border-top: 25px solid hsl(10, 75%, 30%);
	/*border-top: 25px solid hsl(0, 50%, 30%);*/

	border-bottom-right-radius: 40%;
	border-bottom-left-radius: 40%;

/*	border-color: hsl(0, 0%, 20%);
	margin-left: 20px;
	margin-right: 20px;*/
}
#optionButtons {
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	padding-bottom:20px !important; 
}
#optionButtons, #tableDiv {
	/* gold ring */
	border-bottom: 10px solid hsl(40, 100%, 40%);
}
#outerTableDiv {
	background-color: hsl(0, 0%, 20%);
}
#optionButtons, #newHandDiv, .innerModalButtons {
	background-color: hsl(0, 0%, 20%);
	padding: 15px;
}
/*#bottomDiv {
	background-color: hsl(20, 75%, 30%);
}*/

/* buttons and form elements */
button {
	background-color: hsl(0, 0%, 90%) !important;
	border-radius: 0px !important;
	/*border-radius: 5px !important;*/
	margin: 10px;
	/*font-weight: 600 !important;*/
}
button:not(.close) {
	box-shadow: 5px 5px hsl(0, 0%, 10%);
}
button.close, button.close:hover, button.close:focus {
	opacity: 1 !important;
	font-size: 200%;
}
button.close:hover, button.close:focus {
	background-color: hsl(160, 75%, 30%) !important;
	outline: 3px solid #fff !important;
}
button:focus, button:hover:not(:disabled) {
	outline: 3px solid #fff !important;
	background-color: hsl(160, 75%, 30%) !important;
	color: #fff !important;
	/*outline: none !important;*/
	box-shadow: none !important;
}
button:disabled {
	background-color: hsl(0, 0%, 60%) !important;
	color: #fff !important;
	opacity: 1 !important;
}
#optionButtons button {
	padding-left: 20px;
	padding-right: 20px;
}
#fullscreenButton {
	position : absolute;
	top : 0;
	right : 0;
}
label:hover {
	color: hsl(160, 75%, 30%) !important;
	cursor: pointer;
}

/* alerts  */
.alert {
	border-radius: 0;
	color: #fff;
	border: 0px;
}
.alert-info {
	background-color: transparent;
	/*background-color: hsl(20, 75%, 30%);*/
}
.alert-success, .correct-history {
	background-color: hsl(160, 50%, 30%);
}
.alert-danger, .wrong-history {
	background-color: hsl(0, 50%, 30%);
}

/* modals */
.modal-content {
	background-color: hsl(160, 50%, 90%);
	border-radius: 0px;
	font-size: 100%;
}
.modal-header {
	/*background-color: hsl(160, 75%, 30%);*/
	background-color: hsl(20, 75%, 30%);
	color: #fff;
	border-radius: 0px;
}
button.close {
	background-color: #fff !important;
	/*opacity: 1 !important;*/
	outline: none !important;
}

kbd i ,kbd {
	color: #fff !important;
	background-color: hsl(0, 0%, 10%);
}

/*.modal-body p, .modal-body h3, .modal-body li, .modal-body b, .modal-body label, .modal-body strong, .modal-body span, .modal-body i:not(.fas):not(.fab), th, td, button {*/
.modal-body *:not(a):not(kbd):not(.fas):not(.fab), th, td, button {
	color: hsl(0, 0%, 10%);
}

/* modal insides */
.history {
	padding: 6px;
}
.history, .history u {
	color: #fff !important;
}
#clearHistoryDiv {
	display: none;
}
th, td {
	/* 1/12 */
	width: 8.33%;
}
/*	th[colspan=2] {
	width: 16.66%;
}*/
th, td {
	border: 2px solid hsl(0, 0%, 20%) !important;
}
th {
	background-color: hsl(160, 50%, 80%);
	font-weight: normal;
	text-decoration: underline;
}
.table-hit {
	background-color: hsl(0, 50%, 60%);
}
.table-stand {
	background-color: hsl(60, 50%, 60%);
}
.table-double {
	background-color: hsl(240, 50%, 60%);
}
.table-split {
	background-color: hsl(160, 50%, 60%);
}
.table-surrender {
	background-color: #fff;
}
tr:hover td {
	cursor: default;
	background-color: #fff;
}

/* odds bars */
.odds-bar-container {
	width: 200px;
	margin: auto;
}
.odds-bar {
	height: 15px;
	width: 100%;
	border: 2px solid #fff;
}
.odds-bar.green {
	background-color: hsl(160, 50%, 30%);
}
.odds-bar.red {
	background-color: hsl(0, 50%, 30%);

	float: right !important;
	text-align: right !important;
}

/* other */
#tableRow {
	display: inline;
	text-align: center !important;
}
#numChips {
	margin-left : 32px;
	color : #fff;
	background-color: hsl(0, 0%, 20%);
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

/* hand calculator */
.clickable-card {
	font-size: 600%;
	display: inline;
	cursor: pointer;
}
.clickable-card:hover, .clickable-card.active {
	color: hsl(20, 75%, 30%);
}
.drag-area {
	display: inline-block !important;
	padding: 10px;
	margin: 10px;
	height: 200px;
	width: 100%;
	border: 2px solid hsl(20, 75%, 30%);
}
.drag-area:hover {
	background-color: #fff;

	/*background-color: hsl(160, 75%, 30%);*/
	/*color: #fff;*/
}
/*.odds-option {
	padding: 10px;
}
.best-pick {
	background-color: hsl(160, 75%, 30%);
	color: #fff;
}*/

/* animations */
.spin {
	animation: spin 2s;
	box-shadow: none;
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg); }
	to {transform:rotate(360deg); }
}
.move {
	animation: move 0.5s;
	box-shadow: none;
}
@keyframes move {
	from {transform:translateX(-200%); }
	to {transform:translateX(0%); }
}

/* media queries */
@media (max-width: 768px) {
	.no-mobile, #fullscreenButton {
		display: none;
	}
	.cardHandDiv {
		font-size: 600%;
		margin-bottom: 0px;
	}
	.clickable-card {
		font-size: 400%;
		margin: -2px;
	}
	.drag-area {
		height: 150px;
	}
	.chip {
		width: 48px;
	}
	p, .alert, li {
		/*font-size: 100%;*/
		font-size: 110%;
	}
	.card-label, .modal-body h3 {
		font-size: 120%;
		/*font-size: 130%;*/
	}
	h2 {
		/*font-size: 120%;*/
		font-size: 130%;
	}
	.correct-history, .wrong-history {
		/*font-size: 90%;*/
		font-size: 100%;
	}
	button {
		margin: 5px;
	}
	#optionButtons, #newHandDiv, .innerModalButtons {
		padding: 10px;
	}
	.modal-content {
		/*font-size: 80%;*/
		font-size: 90%;
	}
}
.small-only {
	display: none;
}
@media (max-width: 640px) {
	.cardHandDiv {
		/*font-size: 600%;*/
	}
	#chipsDiv {
		display: block;
	}

	.small-only {
		display: inline;
	}
	.splitcard:first-child + .pokercard {
		padding-right: 10px;
	}
	.splitcard:not(:first-child) {
		padding-left: 10px;
	}
}