#playerHandDiv, #dealerHandDiv {
	font-size: 1200%; /*larger card unicode*/
	letter-spacing: -2px;
	margin-top: -30px;
	transition: all 0.5s ease-in-out;
}
.clickable-card {
	font-size: 600%;
	display: inline;
	cursor: pointer;
}
.clickable-card:hover {
	color: hsl(20, 75%, 30%);
}
/*.drag-area .clickable-card {
	color: hsl(20, 75%, 30%);
}*/
.drag-area {
	display: inline-block !important;
	padding: 10px;
	margin: 10px;
	height: 200px;
	border: 3px solid hsl(20, 75%, 30%);
	color: hsl(20, 75%, 30%);
/*	background-color: hsl(160, 75%, 30%);
	color: #fff;*/
}

.odds-option {
	padding: 10px;
}
.best-pick {
	background-color: hsl(160, 75%, 30%);
	color: #fff;
}

body, html {
	background-color: hsl(20, 75%, 30%) !important;
	/*background-color: hsl(160, 75%, 30%) !important;*/
	overflow-x: hidden; /*remove scrollbar for x-axis*/
}
#headerDiv {
	background-color: hsl(160, 75%, 30%) !important;
}
br, #playerHandDiv, #dealerHandDiv, button {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}

p, h3 {
	color: #fff;
}
p, .alert {
	font-size: 120%;
}
h3 {
	font-size: 160% !important;
	padding: 24px;
	display: inline;
}
b {
	font-size: 140%;
}
.chip {
	width: 72px;
}
#tableDiv {
	background-color: hsl(160, 50%, 90%);
	color: hsl(0, 0%, 10%);
}
#optionButtons, #newHandDiv, #modalButtons {
	/*background-color: hsl(20, 75%, 30%);*/
	background-color: hsl(160, 75%, 30%);
	padding: 20px;
}
#bottomDiv {
	background-color: hsl(20, 75%, 30%);
}
body, html, button, .alert, b, #noHistory {
	color: hsl(0, 0%, 10%);
}
.redcard {
	color: hsl(0, 75%, 30%);
}

button {
	background-color: hsl(0, 0%, 90%);
	border-radius: 0 !important;
	margin: 10px;
	/*font-weight: 600 !important;*/
}
button:not(.close) {
	box-shadow: 5px 5px hsl(0, 0%, 10%);	
}
#history, #oddsInfo {
	color: #fff;
}
.correct-history, .wrong-history {
	padding: 6px;
}
button:focus:not(.close), button:hover:not(.close):not(:disabled) {
	outline: 3px solid  #fff;
	background-color: hsl(160, 75%, 30%);
	color: #fff;
	/*outline: none !important;*/
	box-shadow: none !important;
}
button:disabled {
	background-color: hsl(0, 0%, 60%);
	color: #fff;
	opacity: 1 !important;
}

hr {
	border: 1px solid hsl(0, 0%, 10%);
}

.alert {
	border-radius: 0;
	color: #fff;
	border: 0px;
}
.alert-info {
	/*background-color: hsl(240, 50%, 30%);*/
	background-color: hsl(20, 75%, 30%);
}
.alert-success, .correct-history {
	background-color: hsl(160, 50%, 30%);
}
.alert-danger, .wrong-history {
	background-color: hsl(0, 50%, 30%);
}


.modal-content {
	background-color: hsl(160, 50%, 90%);
	border-radius: 0px;
}
.modal-header {
	background-color: hsl(160, 75%, 30%);
	color: #fff;
	border-radius: 0px;
}
button.close {
	color: #fff !important;
	/*opacity: 1;*/
}
.modal-body p, .modal-body h3 {
	color: hsl(0, 0%, 10%) !important;
}

th, td {
	/* 1/12 */
	width: 8.33%;
}
/*	th[colspan=2] {
	width: 16.66%;
}*/
.table-hit {
	background-color: hsl(0, 75%, 60%);
}
.table-stand {
	background-color: hsl(60, 75%, 60%);
}
.table-double {
	background-color: hsl(240, 75%, 60%);
}
.table-split {
	background-color: hsl(160, 75%, 60%);
}
.table-surrender {
	background-color: #fff;
}

.odds-bar-container {
	width: 200px;
	margin: auto;
}
.odds-bar {
	height: 20px;
	width: 100%;
	border: 2px solid #fff;
}
.odds-bar.green {
	background-color: hsl(160, 50%, 30%);
}
.odds-bar.red {
	background-color: hsl(0, 50%, 30%);

	float: right !important;
	text-align: right !important;
}

@media (max-width: 768px) {
	#playerHandDiv, #dealerHandDiv {
		font-size: 900%;
	}
	.clickable-card {
		font-size: 600%;
	}
	.chip {
		width: 48px;
	}
	b, h3 {
		font-size: 120%;
	}
	.correct-history, .wrong-history {
		font-size: 90%;
	}
}